.text-h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    padding-top: 80px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 4px rgb(64, 102, 57);
    text-align: center;
}

.text-medium{
    text-align: center;
    color: white;
}
.text-low{
    text-align: center;
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(64, 102, 57);
}