@import url('img.dafont.com/preview.php?text=Bienvenido+a+kutral&ttf=beauty_wind1&ext=1&size=45&psize=m&y=60');

@font-face {
    font-family: 'Guide Notes';
    src: url(img.dafont.com/preview.php?text=Bienvenido+a+kutral&ttf=beauty_wind1&ext=1&size=45&psize=m&y=60) format('truetype');
}

.text-h3 {
    font-family: 'Guide Notes', guide notes; /* Si la fuente personalizada no se carga, usa una fuente de respaldo */
    font-size: 60px;
    padding-top: 80px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 4px rgb(64, 102, 57);
    text-align: center;
}

.text-medium{
    text-align: center;
    color: white;
}
.text-low{
    text-align: center;
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(64, 102, 57);
}