.text-title {
    font-family: 'Indie Flower', sans-serif;
    font-size: 60px;
    padding-top: 80px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.text-sub-title {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.text-h3 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 60px;
    padding-top: 80px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 4px rgb(64, 102, 57);
    text-align: center;
}

.text-medium{
    font-family: 'Zilla Slab', sans-serif;
    text-align: center;
    color: white;
}
.text-low{
    font-family: 'Zilla Slab', sans-serif;
    text-align: center;
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(64, 102, 57);
}